#version: "3.7"

services:
  # --- CỤM HIVE (Đã cập nhật để dùng chung PostgreSQL) ---
  # Dịch vụ hive-metastore-postgresql đã được xóa vì chúng ta sẽ dùng postgres-db từ file base.

  hive-metastore:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-metastore
    restart: always
    env_file:
      - ./hadoop.env
    environment:
      # Sửa đổi để kết nối tới postgres-db có sẵn
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://postgres-db:5432/etl_db
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionUserName=etl_user
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionPassword=etlUser@123
      # Sửa đổi điều kiện chờ, không còn chờ hive-metastore-postgresql nữa
      - SERVICE_PRECONDITION=namenode:9870 postgres-db:5432
    # Xóa depends_on không còn hợp lệ
    ports:
      - "9083:9083"
    networks:
      - big-data-net

  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    restart: always
    env_file:
      - ./hadoop.env
    environment:
      # Cập nhật URL kết nối để trỏ đến postgres-db
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://postgres-db:5432/etl_db
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionUserName=etl_user
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionPassword=etlUser@123
      - SERVICE_PRECONDITION=hive-metastore:9083
    depends_on:
      - hive-metastore
    ports:
      - "10000:10000"
    networks:
      - big-data-net

  # --- CỤM HBASE (Sử dụng image tự xây dựng) ---
  zookeeper:
    image: zookeeper:3.5
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/data
      - zookeeper_log:/datalog
    networks:
      - big-data-net

  hbase-master:
    build: ./hbase
    hostname: hbase-master
    container_name: hbase-master
    restart: always
    ports:
      - "16000:16000"
      - "16010:16010"
    environment:
      - HBASE_CONF_hbase_rootdir=hdfs://namenode:9000/hbase
      - HBASE_CONF_hbase_cluster_distributed=true
      - HBASE_CONF_hbase_zookeeper_quorum=zookeeper
    command: master
    depends_on:
      - zookeeper
    networks:
      - big-data-net

  hbase-regionserver:
    build: ./hbase
    hostname: hbase-regionserver
    container_name: hbase-regionserver
    restart: always
    ports:
      - "16020:16020"
      - "16030:16030"
    environment:
      - HBASE_CONF_hbase_master=hbase-master:16000
      - HBASE_CONF_hbase_zookeeper_quorum=zookeeper
    command: regionserver
    depends_on:
      - hbase-master
    networks:
      - big-data-net

volumes:
  # Xóa volume không còn sử dụng
  # hive_metastore_postgres_data:
  zookeeper_data:
  zookeeper_log:

networks:
  big-data-net:
    external: true