#version: "3.7"

services:
  # --- CỤM HADOOP & SPARK ---
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    restart: always
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    restart: always
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net
      
  datanode3:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode3
    restart: always
    volumes:
      - hadoop_datanode3:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  spark-master:
    image: bde2020/spark-master:3.3.0-hadoop3.3
    container_name: spark-master
    restart: always
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  spark-worker-1:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  spark-worker-2:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  spark-worker-3:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-3
    depends_on:
      - spark-master
    ports:
      - "8083:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net

  # --- DỊCH VỤ ETL MỚI ---
  
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    hostname: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: etl_user
      POSTGRES_PASSWORD: etlUser@123
      POSTGRES_DB: etl_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - big-data-net

  sqoop-client:
    build:
      context: ./sqoop_client
    container_name: sqoop-client
    restart: always
    depends_on:
      - namenode
      - postgres-db
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net
      
  nifi:
    image: apache/nifi:1.25.0
    container_name: nifi
    hostname: nifi
    restart: unless-stopped
    ports:
      - "8443:8443"
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_SENSITIVE_PROPS_KEY=your_secret_key_for_nifi_123
      - NIFI_SINGLE_USER_CREDENTIALS_USERNAME=admin
      - NIFI_SINGLE_USER_CREDENTIALS_PASSWORD=2Qp1ygNRrRdnBtrLYTdYnfl8wDfACv
    volumes:
      - nifi_data:/opt/nifi/nifi-current/data
      - nifi_conf:/opt/nifi/nifi-current/conf
      - ./nifi_drivers:/opt/nifi/nifi-current/drivers
      - ./nifi_hadoop_config:/opt/nifi/hadoop_config
    depends_on:
      - namenode
      - postgres-db
    networks:
      - big-data-net

  # --- CỤM HIVE & HBASE (ĐÃ BỔ SUNG) ---
  hive-metastore-postgresql:
    image: bde2020/hive-metastore-postgresql:2.3.0
    container_name: hive-metastore-postgresql
    restart: always
    volumes:
      - hive_metastore_postgres_data:/var/lib/postgresql/data
    networks:
      - big-data-net

  hive-metastore:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-metastore
    restart: always
    env_file:
      - ./hadoop.env
    environment:
      SERVICE_PRECONDITION: "namenode:9870 datanode1:9864 datanode2:9864 datanode3:9864 hive-metastore-postgresql:5432"
    depends_on:
      - hive-metastore-postgresql
      - namenode
      - datanode1
      - datanode2
      - datanode3
    ports:
      - "9083:9083"
    networks:
      - big-data-net

  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    restart: always
    env_file:
      - ./hadoop.env
    environment:
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://hive-metastore-postgresql/metastore
      SERVICE_PRECONDITION: "hive-metastore:9083"
    depends_on:
      - hive-metastore
    ports:
      - "10000:10000"
    networks:
      - big-data-net

  zookeeper:
    image: zookeeper:3.5
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/data
      - zookeeper_log:/datalog
    networks:
      - big-data-net

  hbase-master:
    image: bde2020/hbase-master:1.2.6
    container_name: hbase-master
    restart: always
    env_file:
      - ./hadoop.env
    environment:
      - HBASE_CONF_hbase_rootdir=hdfs://namenode:9000/hbase
      - HBASE_CONF_hbase_cluster_distributed=true
      - HBASE_CONF_hbase_zookeeper_quorum=zookeeper
      SERVICE_PRECONDITION: "namenode:9870 datanode1:9864 datanode2:9864 datanode3:9864 zookeeper:2181"
    depends_on:
      - namenode
      - datanode1
      - datanode2
      - datanode3
      - zookeeper
    ports:
      - "16000:16000"
      - "16010:16010"
    networks:
      - big-data-net

  hbase-regionserver:
    image: bde2020/hbase-regionserver:1.2.6
    container_name: hbase-regionserver
    restart: always
    env_file:
      - ./hadoop.env
    environment:
      - HBASE_CONF_hbase_master=hbase-master:16000
      - HBASE_CONF_hbase_zookeeper_quorum=zookeeper
      SERVICE_PRECONDITION: "hbase-master:16010"
    depends_on:
      - hbase-master
    ports:
      - "16020:16020"
      - "16030:16030"
    networks:
      - big-data-net

# --- ĐỊNH NGHĨA VOLUMES & NETWORKS ---

volumes:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:
  hadoop_datanode3:
  postgres_data:
  nifi_data:
  nifi_conf:
  # Volumes mới cho Hive và HBase
  hive_metastore_postgres_data:
  zookeeper_data:
  zookeeper_log:

networks:
  big-data-net:
    driver: bridge