version: "3.8"

services:
  # --- CỤM HADOOP & SPARK ---
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net 

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    restart: always
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    restart: always
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 
      
  datanode3:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode3
    restart: always
    volumes:
      - hadoop_datanode3:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 

  spark-master:
    image: bde2020/spark-master:3.3.0-hadoop3.3
    container_name: spark-master
    restart: always
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 

  spark-worker-1:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 
  spark-worker-2:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-2
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 

  spark-worker-3:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-3
    depends_on:
      - spark-master
    ports:
      - "8083:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # 

  # --- DỊCH VỤ ETL MỚI ---
  
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    hostname: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: etl_user
      POSTGRES_PASSWORD: etlUser@123
      POSTGRES_DB: etl_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432" # <-- Đổi cổng bên ngoài thành 5433
    networks:
      - big-data-net # 

  sqoop-client:
    build:
      context: ./sqoop_client
    container_name: sqoop-client
    restart: always
    depends_on:
      - namenode
      - postgres-db
    env_file:
      - ./hadoop.env
    networks:
      - big-data-net # <-- Đã đổi
      
  nifi:
    image: apache/nifi:1.25.0
    container_name: nifi
    hostname: nifi
    restart: unless-stopped
    ports:
      - "8443:8443"
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_CLUSTER_IS_NODE=true
      - NIFI_CLUSTER_NODE_PROTOCOL_PORT=8082
      - NIFI_ZK_CONNECT_STRING=
      - NIFI_ELECTION_MAX_WAIT=1 min
    volumes:
      - nifi_data:/opt/nifi/nifi-current/data
      - nifi_conf:/opt/nifi/nifi-current/conf
      - ./nifi_drivers:/opt/nifi/nifi-current/drivers
      - ./nifi_hadoop_config:/opt/nifi/hadoop_config
    depends_on:
      - namenode
      - postgres-db
    networks:
      - big-data-net # <-- Đã đổi

# --- ĐỊNH NGHĨA VOLUMES & NETWORKS ---

volumes:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:
  hadoop_datanode3:
  postgres_data:
  nifi_data:
  nifi_conf:

networks:
  big-data-net: # <-- Đã đổi
    driver: bridge